{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ViewJob.css' %}"/>
  </head>
  
  {% block content %}


    <div class="ButtonsContainer">
      <p><a href="{% url 'Dashboard' %}"> Dashboard </a> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   <a href="{% url 'Logout' %}">Logout</a></p>
    </div>
   
    {% if request.user.is_authenticated %}
      <h1> Hello {{user.username}}! These are the job details! </h1>

      <div class="container">
        <h2>{{job.jobTitle}}</h2>
        <h3>{{job.jobLocation}}</h3>
        <p>{{job.jobDescribtion|safe}}</p>
        <p>Posted by: {{job.user.username}}</p>
        <p>Posted on: {{job.posted_on}}</p>
        <h4 style="color: rgb(195, 0, 255);">Job Categories: </h4>
        {% for category in job.jobCategory.all %} 
           <p class="AddJob_form" name="jobCategory" id="jobCategory" value="{{category.name}}"> <label for="category.name"> {{category.name}}</label></p>
        {% endfor %}
      </div>
  
      <div class="AddToJobs">
        <p> <a href="{% url 'Job:AddToMyJobs' job.slug %}">Add to my jobs</a> </p>
      </div>
    {% endif %}
  {% endblock content %}
